:root {
    --main-dark-bg: rgb(5, 2, 31);
    --main-dark-blue: rgba(44, 16, 168, 0.548);
    --main-dark-font: rgb(175, 158, 102);
    --main-border-color: rgb(175, 158, 102);
    --main-shadow: 1px 1px 2px rgb(0, 60, 255), -1px -1px 2px rgb(217, 255, 0);
}

body {
    margin: 0;
    background-color: var(--main-dark-bg);
    color: var(--main-dark-font);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* max-height: 100vh; */
}

/* LAYOUT */
.layout {
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
}

@media (min-width:800px) {
    .layout {
        display: grid;
        grid-template-columns: minmax(200px, auto) 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "header header"
            "aside main"
            "footer footer";
    }

}

/* SITE HEADER */
.site-header {
    grid-area: header;
    padding: 10px;
    background-color: rgb(0, 0, 0);
}

.search-bar {
    display: flex;
    justify-content: center;
}

.search-bar input {
    outline: none;
    background-color: rgb(124, 118, 105);
    border: none;
    border-radius: 10px 20px;
    padding: 10px 20px;
    color: white;
    font-size: 1em;
    text-transform: capitalize;
}

.search-bar input:focus {
    background-color: rgba(44, 16, 168, 1);
}

.logo {
    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    text-align: center;
    text-shadow: var(--main-shadow);
}

legend h2 {
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

legend h2::after {

    content: " ▼";
    text-align: center;
    font-size: 1.8rem;
}

.filterList {
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease-out;
}

.filterList.open {
    height: auto;
    overflow: visible;
}

/* SIDEBAR */
.sidebar {
    grid-area: aside;
    transition: transform 0.5s ease-out;
    overflow: scroll;
    background: linear-gradient(0deg, rgba(106, 11, 143, 0.582), transparent 50%, rgba(106, 11, 143, 0.582), rgba(0, 0, 0, 0.8) 97%);
}

.closed {
    transform: translateX(-100%);
}

/* .radio-option{
    margin: 10px;
    padding: 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
    list-style: none;
    text-align: center;
    
} */
fieldset {
    border: 1px solid var(--main-border-color);
    border-radius: 10px 20px;
    /* padding: 1rem;
    margin: 1rem; */
}

legend h2 {
    text-align: center;
}

.radio-option {
    background-color: rgba(54, 19, 211, 0.034);
    padding: 5px 0px;
    /* border-radius: 10px 20px;
    border:1px solid var(--main-border-color); */
    transition: scale 0.3s ease-in-out;
    margin-bottom: 0.5rem;

}

.radio-option input {
    display: none;
}

.radio-option label {
    width: 100%;
    display: block;
    text-align: center;
    padding: 5px 0px;
}

/* .radio-option:first-child{
    background-color: rgb(83, 16, 78);
} */
.radio-option:hover,
label:hover,
input:hover {
    cursor: pointer;
}

.radio-option:hover {
    background-color: var(--main-dark-blue);
    font-weight: 700;
    scale: 1.05;
}

.radio-option:has(input:checked) {
    background-color: var(--main-dark-blue);
    font-weight: 900;
    scale: 1.1;
}




/* MAIN CONTENT */
.main-content {
    grid-area: main;
    background-color: rgb(4, 0, 43);
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-template-rows: repeat(4, 300px);
    place-content: center;
    gap: 1rem;
    
}

/* CARDS */
.cocktail-card {
    position: relative;
    width: 320px;
    max-height: 320px;
    padding: 0.4rem;
    border: 1px solid var(--main-border-color);
    border-radius: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
    
}

.card-body {
    padding: 0.5rem;
}
.card-body:hover{
    cursor: pointer;
    background-color: rgba(124, 32, 161, 0.11);
}
.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-top: 1px solid var(--main-border-color);
   
}


/* FOOTER */
.site-footer {
    grid-area: footer;
    background-color: black;
    
}



.strength-indicator {
    position: absolute;
    font-size: 0.9rem;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    text-transform: capitalize;
    color: #fff;
    border-radius: 0.5rem;
}

.strength-indicator.light {
    background-color: rgb(52, 167, 52);
}

.strength-indicator.medium {
    background-color: rgb(184, 175, 56);
}

.strength-indicator.strong {
    background-color: rgb(146, 17, 17);
}

.filter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2px;

   
}
.like-button{
    background-color: #00000000;
    border: none;
    color: var(--main-border-color);
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    border-radius: 2rem;
    opacity: 0.6;
    
}
.like-button:hover {
    color: rgb(0, 247, 255);
    opacity: 1;
}
.like-button.liked {
    color: rgb(8, 189, 53);
    opacity: 1;
}